@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700;800&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  font-size: 16px; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none;
  font-weight: 400; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer; }

iframe {
  border: none; }

body,
input,
button,
a {
  color: #212121;
  font-family: "Ubuntu", sans-serif; }

h2,
.btn {
  font-weight: 500; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.logotip {
  width: 114px;
  height: 84px; }

.title__section {
  font-size: 24px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  text-align: center; }

.btn {
  border-radius: 12px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: all ease .35s;
  -o-transition: all ease .35s;
  transition: all ease .35s; }

.hidden {
  display: none; }

.disable {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1; }

.attent {
  color: #1fa657; }

.arrow--fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px; }

.arrow__area {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: inherit;
  margin: 0 auto; }

.arrow_up {
  position: absolute;
  display: block;
  width: 75px;
  height: 75px;
  bottom: 75px;
  left: 40px; }

.header {
  position: relative;
  width: 100%;
  height: 40px; }
  .header__line_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    line-height: 40px;
    color: #4F4F4F;
    background-color: #f2f2f2; }
    .header__line_info__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header__line_info__network {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 12px;
      margin-left: 25px; }
      .header__line_info__network a {
        display: block;
        height: 40px; }
      .header__line_info__network svg {
        margin-top: 4px;
        border-radius: 100%;
        -webkit-transition: all liner 0.35s;
        -o-transition: all liner 0.35s;
        transition: all liner 0.35s; }
        .header__line_info__network svg:hover {
          -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          -webkit-transition: all liner 0.35s;
          -o-transition: all liner 0.35s;
          transition: all liner 0.35s; }
  .header__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1280px;
    width: 100%;
    height: 94px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px; }
  .header__person {
    position: absolute;
    width: 270px;
    top: 70px;
    right: 174px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px; }
  .menu--fixed {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #599D50;
    z-index: 9999; }
  .menu__button {
    padding: 15px 19px;
    background-color: #ff5300;
    text-transform: uppercase;
    -webkit-transition: all ease .35s;
    -o-transition: all ease .35s;
    transition: all ease .35s; }
    .menu__button:hover {
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: all ease .35s;
      -o-transition: all ease .35s;
      transition: all ease .35s; }
  .menu__item--logo {
    height: 84px; }
  .menu__link {
    line-height: 18px;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all ease .35s;
    -o-transition: all ease .35s;
    transition: all ease .35s; }
    .menu__link:hover {
      text-shadow: 1px 1px 10px #000;
      -webkit-transition: all ease .35s;
      -o-transition: all ease .35s;
      transition: all ease .35s; }

.banner {
  display: block;
  width: 100%;
  height: 470px; }
  .banner--hide {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.23);
    color: #fff; }
  .banner__title {
    padding-top: 160px;
    padding-left: 70px;
    font-size: 44px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }
  .banner__paragraph {
    padding-top: 40px;
    padding-left: 70px;
    font-size: 30px;
    letter-spacing: 1px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }

.name_page {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 30px;
  text-align: center; }
  .name_page__title {
    font-size: 30px;
    padding-bottom: 18px; }
  .name_page__paragraph {
    max-width: 850px;
    margin: 0 auto;
    font-size: 24px; }

.we_work__icon {
  background-color: #212121;
  width: 71px;
  height: 61px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center; }

.call_to_action {
  position: relative;
  max-width: 235px;
  width: 100%;
  margin: 0 auto;
  padding: 11px 12px;
  background-color: #ff5300;
  text-transform: uppercase; }
  .call_to_action::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 12px;
    z-index: -1; }

.what_fence {
  padding-bottom: 60px; }
  .what_fence__title {
    text-align: center;
    padding-bottom: 20px; }
  .what_fence__paragraph {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    line-height: 18px; }

.icon_text {
  padding-top: 40px;
  padding-bottom: 20px; }
  .icon_text__title {
    padding-bottom: 34px;
    text-align: center; }
  .icon_text__list {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .icon_text__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 71px 38px auto;
    grid-template-columns: 71px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "sidebar header" "sidebar content";
    -webkit-column-gap: 38px;
       -moz-column-gap: 38px;
            column-gap: 38px;
    margin-bottom: 33px; }
    .icon_text__item__title {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: header;
      font-size: 20px; }
    .list_fences__item > .icon_text__item__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
    .icon_text__item__paragraph {
      -ms-grid-row: 2;
      -ms-grid-column: 3;
      grid-area: content;
      max-width: 590px; }
    .list_fences__item > .icon_text__item__paragraph {
  -ms-grid-row: 2;
  -ms-grid-column: 3; }
    .icon_text__item__icon {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      grid-area: sidebar; }
    .list_fences__item > .icon_text__item__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1; }

.list_fences {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
  .list_fences__item {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 25px auto;
    grid-template-columns: 300px auto;
    -ms-grid-rows: 50px auto;
    grid-template-rows: 50px auto;
        grid-template-areas: "sidebar header" "sidebar content";
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    padding-bottom: 20px; }
    .list_fences__item__img {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      grid-area: sidebar;
      position: relative;
      max-width: 300px;
      max-height: 245px;
      width: 100%;
      height: 100%; }
    .list_fences__item > .list_fences__item__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1; }
      .list_fences__item__img--first {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 252px;
        width: 100%;
        -webkit-box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25);
                box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25); }
      .list_fences__item__img--last {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 172px;
        width: 100%;
        -webkit-box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25);
                box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25); }
    .list_fences__item__title {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: header;
      -ms-grid-row-align: end;
          align-self: end;
      font-size: 20px; }
    .list_fences__item > .list_fences__item__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
  .list_fences__benefit {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: content;
    padding-top: 23px; }
  .list_fences__item > .list_fences__benefit {
  -ms-grid-row: 2;
  -ms-grid-column: 3; }
    .list_fences__benefit__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 8px;
      padding-bottom: 11px; }
  .list_fences .next_info {
    position: absolute;
    bottom: 0;
    right: 40px;
    padding: 16px 28px;
    border-radius: 40px;
    background-color: #ff5300; }
    .list_fences .next_info:hover {
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: all ease .35s;
      -o-transition: all ease .35s;
      transition: all ease .35s; }

.form {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
  border: solid 3px #6FCF97;
  border-radius: 50px; }
  .form__title {
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 22px;
    font-size: 46px; }
  .form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 11px;
    width: 100%;
    padding-bottom: 25px; }
  .form__icon {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start; }
  .form__input {
    border: solid 1px #000000;
    border-radius: 12px;
    padding: 12px 27px;
    font-size: 20px; }
    .form__input::-webkit-input-placeholder {
      color: #828282; }
    .form__input::-moz-placeholder {
      color: #828282; }
    .form__input:-ms-input-placeholder {
      color: #828282; }
    .form__input::-ms-input-placeholder {
      color: #828282; }
    .form__input::placeholder {
      color: #828282; }
  .form__button {
    padding: 12px 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #7DCA71; }

.preview {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding-bottom: 50px; }

.price__context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px; }

.price__text {
  max-width: 700px;
  width: 100%;
  padding-right: 20px; }

.price__network {
  border: solid 3px #82d5a5;
  padding: 5px;
  border-radius: 7px; }
  .price__network_phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px; }
  .price__network_soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    padding-top: 5px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  min-height: 70px;
  background-color: #373D44; }
  .footer p {
    padding-left: 40px;
    color: #fff; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }

@media only screen and (max-width: 1270px) {
  .list_fences {
    padding-left: 40px; } }

@media only screen and (max-width: 1040px) {
  .header__person {
    display: none; }
  .list_fences {
    padding-left: 20px; }
    .list_fences__item {
      -ms-grid-columns: 220px auto;
      grid-template-columns: 220px auto; }
      .list_fences__item__img {
        max-width: 220px; }
        .list_fences__item__img--first {
          max-width: 172px; }
        .list_fences__item__img--last {
          max-width: 132px; }
    .list_fences .next_info {
      right: 20px; }
  .what_fence {
    padding: 0 15px;
    padding-bottom: 60px; }
  .order_form {
    padding: 0 10px; } }

@media only screen and (max-width: 920px) {
  .header {
    position: relative;
    width: 100%;
    height: auto; }
    .header__line_info {
      display: block;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
      padding: 0 40px;
      line-height: 40px;
      color: #4F4F4F;
      background-color: #f2f2f2; }
      .header__line_info__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header__line_info__network {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 12px;
        margin-left: 25px; }
        .header__line_info__network a {
          display: block;
          height: 40px; }
        .header__line_info__network svg {
          margin-top: 4px;
          border-radius: 100%;
          -webkit-transition: all liner 0.35s;
          -o-transition: all liner 0.35s;
          transition: all liner 0.35s; }
          .header__line_info__network svg:hover {
            -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            -webkit-transition: all liner 0.35s;
            -o-transition: all liner 0.35s;
            transition: all liner 0.35s; }
    .header__navbar {
      margin: auto;
      padding-left: 0;
      padding-right: 0;
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
              box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); }
      .header__navbar::after {
        content: "Menu";
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 20px;
        width: 260px;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 24px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase; }
  .menu {
    position: absolute;
    top: 94px;
    right: 0;
    display: -ms-grid;
    display: grid;
    gap: 0;
    background-color: #599D50;
    padding-bottom: 90px;
    border-radius: 0 0 0 5px;
    text-align: center; }
    .menu--mob {
      opacity: 0;
      height: 0;
      visibility: hidden; }
    .menu__icon {
      position: absolute;
      top: 26px;
      right: 60px; }
      .menu__icon.hidden {
        display: block; }
    .menu--full {
      position: absolute;
      top: 0;
      right: 0;
      width: 260px;
      height: 100%;
      z-index: 999999; }
      .menu--full.hidden {
        display: block; }
    .menu--fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #599D50;
      z-index: 9999; }
    .menu__button {
      position: absolute;
      top: 288px;
      right: 30px; }
    .menu__item--logo {
      position: fixed;
      top: 4px;
      left: 40px;
      height: 84px; }
      .menu__item--logo.hidden {
        display: block; }
    .menu__link {
      display: block;
      padding: 20px 15px; }
      .menu__link:hover {
        background-color: #436e3d; } }

@media only screen and (max-width: 900px) {
  .price__context {
    display: block; }
  .price__text {
    padding: 15px 40px;
    margin: 0 auto; }
  .price__network {
    max-width: 205px;
    width: 100%;
    margin: 0 auto; } }

@media only screen and (max-width: 813px) {
  .banner {
    height: 350px; }
    .banner--hide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 0; }
    .banner__title {
      padding-top: 60px;
      padding-left: 0;
      font-size: 44px;
      -webkit-transform: translate(0, 40%);
          -ms-transform: translate(0, 40%);
              transform: translate(0, 40%); }
    .banner__paragraph {
      padding-top: 0;
      padding-left: 0;
      font-size: 30px; }
  .list_fences__item {
    -ms-grid-columns: 140px auto;
    grid-template-columns: 140px auto;
    padding-bottom: 70px; }
    .list_fences__item__img {
      max-width: 140px; }
      .list_fences__item__img--first {
        max-width: 132px; }
      .list_fences__item__img--last {
        max-width: 122px; }
  .list_fences .next_info {
    bottom: 6px; } }
