@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700;800&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  font-size: 16px; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none;
  font-weight: 400; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer; }

iframe {
  border: none; }

body,
input,
button,
a {
  color: #212121;
  font-family: "Ubuntu", sans-serif; }

h2,
.btn {
  font-weight: 500; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.logotip {
  width: 84px;
  height: 84px; }

.title__section {
  font-size: 26px;
  text-align: center; }

.btn {
  border-radius: 12px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: all ease .35s;
  -o-transition: all ease .35s;
  transition: all ease .35s; }

.arrow--fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px; }

.arrow__area {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: inherit;
  margin: 0 auto; }

.arrow_up {
  position: absolute;
  display: block;
  width: 75px;
  height: 75px;
  bottom: 75px;
  left: 40px; }

.header {
  position: relative;
  width: 100%;
  height: 40px; }
  .header__line_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    line-height: 40px;
    color: #4F4F4F;
    background-color: #fffff; }
    .header__line_info__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header__line_info__network {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 12px;
      margin-left: 25px; }
  .header__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 94px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgba(196, 196, 196, 0.61); }
  .header__person {
    position: absolute;
    top: 10px;
    right: 174px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px; }
  .menu--fixed {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%; }
  .menu__button {
    padding: 5px 9px;
    background-color: #FF2A2A;
    text-transform: uppercase;
    -webkit-transition: all ease .35s;
    -o-transition: all ease .35s;
    transition: all ease .35s; }
    .menu__button:hover {
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: all ease .35s;
      -o-transition: all ease .35s;
      transition: all ease .35s; }
  .menu__item--logo {
    height: 84px;
    margin-right: -11px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25); }
  .menu__link {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #6C6C6C;
    -webkit-text-fill-color: #fff;
    -webkit-transition: all ease .35s;
    -o-transition: all ease .35s;
    transition: all ease .35s; }
    .menu__link:hover {
      text-shadow: 1px 1px 10px #fff;
      font-size: 18px;
      -webkit-transition: all ease .35s;
      -o-transition: all ease .35s;
      transition: all ease .35s; }

.banner {
  display: block;
  width: 100%;
  height: 470px; }
  .banner--hide {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.23);
    color: #fff; }
  .banner__title {
    padding-top: 160px;
    padding-left: 70px;
    font-size: 44px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }
  .banner__paragraph {
    padding-top: 40px;
    padding-left: 70px;
    font-size: 30px;
    letter-spacing: 1px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }

.name_page {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 30px;
  text-align: center; }
  .name_page__title {
    font-size: 30px;
    padding-bottom: 18px; }
  .name_page__paragraph {
    max-width: 850px;
    margin: 0 auto;
    font-size: 24px; }

.we_work__icon {
  background-color: #212121;
  width: 71px;
  height: 61px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center; }

.call_to_action {
  position: relative;
  max-width: 235px;
  width: 100%;
  margin: 0 auto;
  padding: 11px 12px;
  background-color: #FF5454;
  text-transform: uppercase; }
  .call_to_action::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 12px;
    z-index: -1; }

.what_fence {
  padding-bottom: 60px; }
  .what_fence__title {
    text-align: center;
    padding-bottom: 20px; }
  .what_fence__paragraph {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    line-height: 18px; }

.icon_text {
  padding-top: 40px;
  padding-bottom: 20px; }
  .icon_text__title {
    padding-bottom: 34px;
    text-align: center; }
  .icon_text__list {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .icon_text__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 71px 38px auto;
    grid-template-columns: 71px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "sidebar header" "sidebar content";
    -webkit-column-gap: 38px;
       -moz-column-gap: 38px;
            column-gap: 38px;
    margin-bottom: 33px; }
    .icon_text__item__title {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: header;
      font-size: 20px; }
    .list_fences__item > .icon_text__item__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
    .icon_text__item__paragraph {
      -ms-grid-row: 2;
      -ms-grid-column: 3;
      grid-area: content;
      max-width: 590px; }
    .list_fences__item > .icon_text__item__paragraph {
  -ms-grid-row: 2;
  -ms-grid-column: 3; }
    .icon_text__item__icon {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      grid-area: sidebar; }
    .list_fences__item > .icon_text__item__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1; }

.list_fences {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; }
  .list_fences__item {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 25px auto;
    grid-template-columns: 300px auto;
    -ms-grid-rows: 50px auto;
    grid-template-rows: 50px auto;
        grid-template-areas: "sidebar header" "sidebar content";
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    padding-bottom: 20px; }
    .list_fences__item__img {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      grid-area: sidebar;
      position: relative;
      width: 300px;
      height: 245px; }
    .list_fences__item > .list_fences__item__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1; }
      .list_fences__item__img--first {
        position: absolute;
        top: 0;
        left: 0;
        width: 252px;
        -webkit-box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25);
                box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25); }
      .list_fences__item__img--last {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 172px;
        -webkit-box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25);
                box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.25); }
    .list_fences__item__title {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: header;
      -ms-grid-row-align: end;
          align-self: end;
      font-size: 20px; }
    .list_fences__item > .list_fences__item__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
  .list_fences__benefit {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: content;
    padding-top: 23px; }
  .list_fences__item > .list_fences__benefit {
  -ms-grid-row: 2;
  -ms-grid-column: 3; }
    .list_fences__benefit__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 8px;
      padding-bottom: 11px; }
  .list_fences .next_info {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px 28px;
    border-radius: 40px;
    background-color: #ED9E5A; }
    .list_fences .next_info:hover {
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: all ease .35s;
      -o-transition: all ease .35s;
      transition: all ease .35s; }

.form {
  width: 780px;
  margin: 0 auto;
  margin-top: 70px;
  border: solid 3px #6FCF97;
  border-radius: 50px; }
  .form__title {
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 22px;
    font-size: 46px; }
  .form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 11px;
    width: 100%;
    padding-bottom: 25px; }
  .form__icon {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start; }
  .form__input {
    border: solid 1px #000000;
    border-radius: 12px;
    padding: 12px 27px;
    font-size: 20px; }
    .form__input::-webkit-input-placeholder {
      color: #828282; }
    .form__input::-moz-placeholder {
      color: #828282; }
    .form__input:-ms-input-placeholder {
      color: #828282; }
    .form__input::-ms-input-placeholder {
      color: #828282; }
    .form__input::placeholder {
      color: #828282; }
  .form__button {
    padding: 12px 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #7DCA71; }

.preview {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding-bottom: 50px; }

.price__context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  padding-top: 20px; }

.price__text {
  max-width: 690px;
  width: 100%; }

.price__network_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px; }

.price__network_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 5px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  min-height: 70px;
  background-color: #373D44; }
  .footer p {
    padding-left: 40px;
    color: #fff; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }
